:host {
    height: 100vh;
    width: 100%;
    display: block;

    .view {
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 3fr;

        .sidebar {
            display: grid;
            grid-template-rows: 1fr 6fr;
            min-width: 360px;
            border-right: 1px solid #DBDBDB;
            background: #FFF;
        }

        .conversations{
            position: relative;

            app-new-message-sidebar, app-update-profile-sidebar{
                background-color: #FFFFFF;
            }
            margin-top: 30px;
        }

        .conversations > *{
            display: block;
            position: absolute;
            inset: 0;
        }

        .logo-top{
            width: 100%;

            img{
                width: 50px;
            }
        }

        .thumbail {
            .logo{
                width: 200px;
            }

            .description{
                font-weight: 300;
            }
        }
    }
}