:host {
    height: 100vh;
    width: 100%;
    display: block;

    .view {
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 3fr;

        .sidebar {
            display: grid;
            grid-template-rows: 1fr 6fr;
            min-width: 360px;
            border-right: 1px solid #DBDBDB;
            background: #FFF;
        }

        .message {

        }
    }
}