<ng-container *ngIf="(viewsModel$ | async) as vm">
    <div class="view">
        <div class="sidebar">
            <div class="logo"></div>
            <div class="conversations">
                <ng-container *ngIf="(showRightComponent$ | async) as showRightComponent">
                    <ng-container [ngSwitch]="showRightComponent">
                        <app-conversations-sidebar *ngSwitchCase="rightAction.show_conversations" [currentUser]="vm.currentUser!" [allUsers]="vm.users" [conversations]="vm.conversations"></app-conversations-sidebar>
                        <app-new-message-sidebar *ngSwitchCase="rightAction.new_message" [users]="vm.users"></app-new-message-sidebar>
                        <app-update-profile-sidebar *ngSwitchCase="rightAction.update_profile" [user]="vm.currentUser!"></app-update-profile-sidebar>
                    </ng-container>
                </ng-container>
            </div>
        </div>
        <div class="message is-relative">
            <ng-container *ngIf="vm.hasConversationSelected; else notSelected">
                <app-conversation-detail></app-conversation-detail>
            </ng-container>
            <ng-template #notSelected>
                <div class="thumbail is-flex is-column is-justify-center is-align-center is-100h">
                    <img class="logo" src="assets/logo.png" alt="">
                    <app-text class="description l-margin-left">Envoyez et recevez des messages grâce à FChat</app-text>
                </div>
            </ng-template>
        </div>
    </div>
</ng-container>