<ng-container *ngIf="(viewsModel$ | async) as vm">
    <div class="view">
        <div class="sidebar">
            <div class="logo"></div>
            <div class="conversations">
                <ng-container *ngIf="isShowConvList$ | async; else showNewMessage">
                    <app-conversations-sidebar [conversations]="vm.conversations"></app-conversations-sidebar>
                </ng-container>
                <ng-template #showNewMessage>
                    <app-new-message-sidebar [users]="vm.users"></app-new-message-sidebar>
                </ng-template>
            </div>
        </div>
        <div class="message">
        </div>
    </div>
</ng-container>