<ng-container *ngIf="(viewsModel$ | async) as vm">
    <div class="view">
        <div class="sidebar">
            <div class="logo"></div>
            <div class="conversations">
                <ng-container *ngIf="isShowConvList$ | async; else showNewMessage">
                    <app-conversations-sidebar [conversations]="vm.conversations"></app-conversations-sidebar>
                </ng-container>
                <ng-template #showNewMessage>
                    <app-new-message-sidebar [users]="vm.users"></app-new-message-sidebar>
                </ng-template>
            </div>
        </div>
        <div class="message is-relative">
            <ng-container *ngIf="vm.hasConversationSelected; else notSelected">
                <app-conversation-detail></app-conversation-detail>
            </ng-container>
            <ng-template #notSelected>
                <div class="thumbail is-flex is-column is-justify-center is-align-center is-100h">
                    <img class="logo" src="assets/logo.png" alt="">
                    <app-text class="description l-margin-left">Envoyez et recevez des messages grâce à FChat</app-text>
                </div>
            </ng-template>
        </div>
    </div>
</ng-container>