:host {
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    display: flex;
    overflow: hidden;

    .banner {
        width: 45%;
        background-color: #C6E3FF;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        app-text{
            color: #002141;
        }
    }

    .separator {
        height: 7px;
        background: #195289;
        animation: separatorAnim 1s;
        width: 348px;
    }

    @keyframes separatorAnim {
        from{
            width: 0px;
        }
        to{
            width: 348px;
        }
    }

    .logo {
        height: 200px;
    }

    #main-content{
        width: 55%;
    }

    @media screen and (max-width: 860px) {
        flex-direction: column;
        .banner{
            display: none;
        }

        #main-content{
            width: 100%;
            height: 100%;
        }
    }
}