<div class="container">
  <nav>
    <img src="logo.png" alt="" class="logo">
  </nav>
  <h1 class="description-text">Let's connect to your FCHATTERS !</h1>
  <div class="platforms">
    <img class="store" src="appstore.png"
      (click)="redirect('https://drive.google.com/file/d/1Gxl1Ei8N2sCN0Z-LAIzWJ0S6-DFnq8cZ/view?usp=sharing')" alt="">
    <img class="store" src="playstore.png"
      (click)="redirect('https://drive.google.com/file/d/1Gxl1Ei8N2sCN0Z-LAIzWJ0S6-DFnq8cZ/view?usp=sharing')" alt="">
    <img class="webapp" src="webapp.png" (click)="redirect('https://webapp-chat.mfry.io')" alt="">
  </div>
</div>