<div class="container is-flex is-column">
    <div class="is-flex is-space-between header">
        <app-text routerLink="../signup" class="fs-14 underline is-cursor-pointer">Inscription</app-text>
        <app-text routerLink="../login" class="fs-14 underline is-cursor-pointer">Connexion</app-text>
    </div>
    <app-text class="fs-30 bold page-title">Mot de passe oublié.</app-text>
    <app-notification *ngIf="error.hasError" type="error"
        [title]="error.msg.title"
        [subtitle]="error.msg.subtitle"
    >
    </app-notification>
    <app-notification *ngIf="success.isSuccess" type="info"
        [title]="success.msg.title"
        [subtitle]="success.msg.subtitle"
        class="l-margin-bottom"
    >
    </app-notification>
    <form [formGroup]="formForgotPassword" class="is-flex is-column" (ngSubmit)="forgotUserPassword()">
        <app-input class="m-margin-bottom" formControlName="email" [ngClass]="{'invalid': email?.errors?.['novalid']}"
            [errorMsg]="email?.errors?.['novalid']" class="no-padding limit" label="Email*">
        </app-input>
        <app-button [loading]="(isLoading | async) || false" type="submit" class="mt-20 is-100w">Réinitialiser</app-button>
    </form>
</div>