<div class="container is-flex is-column">
    <div class="is-flex is-space-between header">
        <app-text routerLink="../signin" class="fs-14 underline is-cursor-pointer">Connexion</app-text>
        <app-text routerLink="../signup" class="fs-14 underline is-cursor-pointer">Inscription</app-text>
    </div>
    <app-text class="fs-30 bold page-title">Réinitialiser le mode passe.</app-text>
    <app-notification *ngIf="error.hasError" type="error"
        [title]="error.msg.title"
        [subtitle]="error.msg.subtitle"
        class="l-margin-bottom"
    >
    </app-notification>
    <app-notification *ngIf="success.isSuccess" type="info"
        [title]="success.msg.title"
        [subtitle]="success.msg.subtitle"
        class="l-margin-bottom"
    >
    </app-notification>
    <form [formGroup]="formResetPassword" class="is-flex is-column" (ngSubmit)="resetUserPassword()">
        <app-input type="password" formControlName="password" [ngClass]="{'invalid': password?.errors?.['novalid']}"
            [isPassword]="true" [errorMsg]="password?.errors?.['novalid']" label="Mot de passe*">
        </app-input>
        <app-input type="password" formControlName="confirmPassword" [ngClass]="{'invalid': confirmPassword?.errors?.['novalid']}"
            [isPassword]="true" [errorMsg]="confirmPassword?.errors?.['novalid']" label="Confirmer le mot de passe*">
        </app-input>
        <app-button [loading]="(isLoading | async) || false" type="submit" class="mt-20 is-100w">Réinitialiser</app-button>
    </form>
</div>