<div class="container is-flex is-column">
  <div class="is-flex is-space-between header">
    <app-text routerLink="../signin" class="fs-14 underline is-cursor-pointer"
      >Connexion</app-text
    >
    <app-text
      routerLink="../forgotpassword"
      class="fs-14 underline is-cursor-pointer"
      >Mot de passe oublié ?</app-text
    >
  </div>
  <app-text class="fs-30 bold page-title">Inscription.</app-text>
  @if(error.hasError){
    <app-notification
        type="error"
        [title]="error.msg.title"
        [subtitle]="error.msg.subtitle"
        class="l-margin-bottom"
    >
    </app-notification>
  } 
  @if(success.isSuccess){
    <app-notification
        *ngIf="success.isSuccess"
        type="info"
        [title]="success.msg.title"
        [subtitle]="success.msg.subtitle"
        class="l-margin-bottom"
    >
    </app-notification>
  }
  <form
    [formGroup]="formSignUp"
    class="is-flex is-column"
    (ngSubmit)="onSubmit()"
  >
    <app-input
      class="m-margin-bottom"
      formControlName="fullname"
      [ngClass]="{'invalid': getControlError('fullname').is_error}"
      [errorMsg]="getControlError('fullname').error_msg"
      class="no-padding limit"
      label="Fullname*"
    >
    </app-input>
    <app-input
      class="m-margin-bottom"
      formControlName="email"
      [ngClass]="{'invalid': getControlError('email').is_error}"
      [errorMsg]="getControlError('email').error_msg"
      class="no-padding limit"
      label="Email*"
    >
    </app-input>
    <app-input
      type="password"
      formControlName="password"
      [ngClass]="{'invalid': getControlError('password').is_error}"
      [isPassword]="true"
      [errorMsg]="getControlError('password').error_msg"
      label="Mot de passe*"
    >
    </app-input>
    <app-input
      type="password"
      formControlName="confirmPassword"
      [ngClass]="{'invalid': getControlError('confirmPassword').is_error}"
      [isPassword]="true"
      [errorMsg]="getControlError('confirmPassword').error_msg"
      label="Confirmer le mot de passe*"
    >
    </app-input>
    <app-button
      [loading]="(isLoading | async) || false"
      type="submit"
      class="mt-20 is-100w"
      >S'inscrire</app-button
    >
  </form>
  @if(success.isSuccess){
    <app-text
      (click)="generateToken()"
      class="mt-20 fs-14 underline is-cursor-pointer"
      >Click here if you didn't receive email verification</app-text
    >
  }
</div>
