<div class="container is-flex is-column">
    <div class="is-flex is-space-between header">
        <app-text routerLink="../signup" class="fs-14 underline is-cursor-pointer">Inscription</app-text>
        <app-text routerLink="../forgotpassword" class="fs-14 underline is-cursor-pointer">Mot de passe oublié ?</app-text>
    </div>
    <app-text class="fs-30 bold page-title">Connexion.</app-text>
    <app-notification *ngIf="error.hasError" type="error"
        [title]="error.msg.title"
        [subtitle]="error.msg.subtitle"
        class="l-margin-bottom"
    >
    </app-notification>
    <form [formGroup]="formSignIn" class="is-flex is-column" (ngSubmit)="onSubmit()">
        <app-input class="m-margin-bottom" formControlName="email" [ngClass]="{'invalid': getControlError('email').is_error}"
            [errorMsg]="getControlError('email').error_msg" class="no-padding limit" label="Email*">
        </app-input>
        <app-input type="password" formControlName="password" [ngClass]="{'invalid': getControlError('email').is_error, 'password': true}"
            [isPassword]="true" [errorMsg]="getControlError('password').error_msg" label="Mot de passe*">
        </app-input>
        <app-button [loading]="(isLoading | async) || false" type="submit" class="mt-20 is-100w">Se connecter</app-button>
    </form>
</div>