<div class="container">
    <div class="topbar is-flex l-padding-left l-padding-right">
        <app-icon (click)="showConvList()" class="l-margin-right is-cursor-pointer" name="arrow_back"></app-icon>
        <app-text>Modifier le profil</app-text>
    </div>
    <div class="form l-padding-left l-padding-right is-flex is-column">
        <app-notification *ngIf="success.isSuccess" type="info"
            [title]="success.msg.title"
            [subtitle]="success.msg.subtitle"
            class="l-margin-bottom"
        >
        </app-notification>
        <app-notification *ngIf="error.hasError" type="error"
            [title]="error.msg.title"
            [subtitle]="error.msg.subtitle"
            class="l-margin-bottom"
        >
        </app-notification>
        <div class="profile_img is-flex is-justify-center is-cursor-pointer">
            <img src="assets/default.png" alt="">
        </div>
        <form [formGroup]="formUpdateProfile" class="is-flex is-column l-margin-top">
            <app-input type="text" formControlName="fullname" class="no-padding" [ngClass]="{'invalid': fullname?.errors?.['novalid']}"
                    [errorMsg]="fullname?.errors?.['novalid']" label="Nom complet*">
            </app-input>
            <app-text-area formControlName="description" class="no-padding" [ngClass]="{'invalid': description?.errors?.['novalid']}"
                [errorMsg]="description?.errors?.['novalid']" label="Description*"></app-text-area>
            <ng-container *ngIf="confirmButton | async">
                <app-button  (click)="updateProfile()" class="is-100w l-margin-top" [loading]="(isLoading | async) || false">Modifier</app-button>
            </ng-container>
        </form>
    </div>
</div>