:host {

    .container {
        height: 100%;
        position: relative;

        app-button {
            position: absolute;
            bottom: 5px;
            left: 20px;
            right: 20px;
        }
    }

    .form {
        margin-top: 25px;
    }

    .profile_img {
        align-self: center;
    }

    .profile_img {
        width: 195px;
        height: 195px;
        border-radius: 100%;
        overflow: hidden;
        border: 1px solid #767676;
        position: relative;

        img {
            width: 200px;
            height: 200px;
            opacity: 0.7;
        }

        .update-picture {
            display: none;
            position: absolute;
            inset: 0;

            app-text,
            app-icon {
                color: white;
            }
        }

        .options {
            display: none;
            min-width: 210px;
            background: #FFFFFF;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 6px;
            position: absolute;
            z-index: 2;

            .option {
                padding: 14px;
                text-align: start;
                color: #747474;
            }

            .option:hover {
                background: #ededed;
            }
        }
    }

    .profile_img:hover {
        background-color: rgba(0, 0, 0, .4);

        .update-picture {
            display: flex;
        }

        .options {
            display: block;
        }
    }

    .photo_uploaded {
        width: 74%;
        height: 70%;
        object-fit: cover;
    }

    .options {
        min-width: 210px;
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 6px;
        position: absolute;
        top: 200px;
        right: -90px;
        z-index: 2;

        .option {
            padding: 14px;
            text-align: start;
            color: #747474;
        }

        .option:hover {
            background: #ededed;
        }
    }
}