<div class="container is-100h">
    <div class="title is-flex">
        <app-icon (click)="showConvList()" class="l-margin-right is-cursor-pointer" name="arrow_back"></app-icon>
        <app-text>Nouveau message</app-text>
    </div>
    <app-input placeholder="Rechercher" [(ngModel)]="filterUserName" (ngModelChange)="filterUser()" prefixIcon="search" class="searchbar"></app-input>
    <div class="separator"></div>
    <div class="users">
        <ng-container *ngFor="let user of usersFiltered">
            <app-user-card [user]="user" (click)="addNewConversation(user)"></app-user-card>
        </ng-container>
    </div>
</div>