@import 'library.scss';

html, body, p, h1, h2, h3, h4, h5, button{
    font-family: "Kanit" !important;
}

:root {
    --primary: #3285D2;
}

.is-primary{
    background: var(--primary);
}

.profile_img{
    width: 45px;
    height: 45px;
    border-radius: 100%;
    overflow: hidden;
    border: 1px solid #767676;
    img{
        width: 50px;
        height: 50px;
        opacity: .7;
    }
}