:host{
    display: block;
    cursor: pointer;

    .container{       
        padding: 15px 12px;
        .profile_img{
            width: 35px;
            height: 35px;
            border-radius: 100%;
            overflow: hidden;
            border: 1px solid #767676;
            img{
                width: 40px;
                height: 40px;
            }
        }
    }

    .infos{
        max-width: 210px;
        
        .name{
            font-weight: 500;
            font-size: 14px;
        }

        .description{
            color: #656565;
            font-weight: 300;
            font-size: 9px;
        }
    }
}

:host:hover{
    background-color: #f9f9f9;
}